# Core
python-dotenv
typing-extensions
pydantic
pypdf
chromadb
# HTTP clients
requests
chromadb
# LLM / Agents
langchain-openai
langgraph
langgraph-prebuilt
langchain-community
# Frontend
streamlit